.calendar-day label:hover, .calendar-day input:hover{
    cursor:pointer;
}
.calendar-day h4{
    padding: 2px;
    margin: 2px;
}
.calendar-day h4>*{
    font-size: 125%;
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}
.calendar-day h4 input[type=checkbox]{
    transform: scale(1.25);
}
.group-list-button{
    color: black;
    display: inline-block;
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;;
}
.group-list-button{

}