.calendar-day{
    min-width: 9vw;
    min-height: 150px;
    background-color: rgb(236, 168, 168);
    border-bottom: 5px solid  rgb(161, 122, 64);
    margin: 5px;
    text-align: center;
    -moz-user-select: none;
    user-select: none;
}
.day-meal{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 0.5vw;
    -moz-user-select: none;
    user-select: none;
}
.day-meal input[type=checkbox]{
    transform: scale(1.15);
}
.day-meal label{
    cursor: pointer;
    min-width: 60%;
    text-align: left;
    display:inline-block;
}
.calendar-day h4>*:hover{
    cursor: pointer;
}