.main-preview{
    background-color: grey;
    min-width: 450px;
    flex: 0;
    margin: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    height: calc(95vh - 125px);

}
.child-preview{
    overflow: hidden;
}
.data-preview{
    overflow: hidden;
}
.group-preview{
    overflow: hidden;
}