.main-preview{
    background-color: grey;
    min-width: 20px;
    flex: 2;
    margin: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    height: 90vh;
}
.child-preview{
    overflow: hidden;
}
.data-preview{
    overflow: hidden;
}
.group-preview{
    overflow: hidden;
}