.main-preview{
    background-color: grey;
    min-width: 20px;
    flex: 1;
    margin: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}
.child-preview{
    overflow: hidden;
    height: 40%;
}
.data-preview{
    overflow: hidden;
    width: 30%
}
.group-preview{
    overflow: hidden;
    width: 30%
}