.calendar-day .day-meal div{
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 1px;
}
.calendar-day.disabled-day{
    background-color: rgb(177, 177, 177);
}
.calendar-day{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.meal-container{
    width: 100%;
    margin: 5px;
}

.calendar-day{
    min-width: 9vw;
    min-height: 150px;
    background-color: rgb(48, 48, 48);
    border-bottom: 5px solid  rgb(20, 197, 182);
    margin: 5px;
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    border-radius: 5px;
}