.calendar{
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    border-radius: 10px;
    max-height: 75vh;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.calendar::-webkit-scrollbar{
    display:none;
}
.calendar-container{
    display: flex;
    flex-flow: row nowrap;
    align-items:center;
    justify-content: center;
    flex: 1;
    margin: 10px;
}
.calendar-container *{
    text-align: center;
}

.calendar-prev , .calendar-next{
    display: inline-block;
    color: black;
    width: 20px;
    height: 40px;
    background-size: cover;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;

    user-select: none;
}
.calendar-navigation {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.calendar-next{
    background-image: url("../../../public/images/right_arrow.png");
}
.calendar-prev{
    background-image: url("../../../public/images/left_arrow.png");
}

.calendar-prev:hover , .calendar-next:hover{
    cursor: pointer;
    box-shadow: 0 0 5px;
}


.calendar .day-header{
    display: inline-block;
    text-align: center;
}
.inner-calendar{
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgb(109, 109, 109);
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
}
.calendar-header{
    width: 98%;
    display: flex;
    flex-flow: row nowrap;
}
.day-header{
    display: inline-block;
    flex: 1;
    text-align: center;
    margin: 10px;
}