.main-component{
    display: flex;
    flex-flow: column nowrap;
}
.main-content{
    height: calc(100vh - 75px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: space-around;
}