.child-form{
    padding: 5px;
    background-color: grey;
    display: flex;
    flex-flow: row nowrap;
}
.child-form>*{
    margin: 5px;
}
.add-button{
    background-color: rgb(139, 44, 111);
    display: inline-block;
    border-radius: 4px;
    user-select:none;
    padding: 5px;
}
.add-button:hover{
    cursor:pointer;
    background-color:rgb(139, 83, 123);
}
.child-form label{
    text-align:center;
    padding: 5px;
    user-select: none;
}
.child-form>label:hover, .child-form>input:hover{
    cursor: pointer;
}