.children-list table{
    border-collapse: collapse;
}
.children-list table tbody tr{
    margin: 2px;
}
.children-list th{
    padding: 10px;
}
.children-list td{
    padding: 10px;
    text-align: center;
}
.children-list .child-eraser{
    display: inline-block;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.child-eraser:hover{
    cursor: pointer;
    background-color:brown;
}

.children-list input:hover{
    cursor:pointer;
}