.loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner{
    display: inline-block;
    animation: spinning;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    background-image: url('../../../public/images/loadingrec_white.png');
    background-size: contain;
    margin: auto;
}

@keyframes spinning{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}