.basic-table{
    position: relative;
    border-collapse: collapse;
    width: 100%;
    color: white;
}
.basic-table-container{
    background-color: rgb(54, 54, 54);
    overflow: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;
}
.basic-table tbody tr{
    background-color: rgb(44, 44, 44);
}
.basic-table tbody td{
    padding: 10px;
    text-align: center;
}
.basic-table thead th{
    top: 0;
    position: sticky;
    padding: 15px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.basic-table .sort-desc:after{
    content:"▼";
    position: absolute;
}
.basic-table .sort-asc:after{
    content:"▲";
    position: absolute;
}
.basic-table .active-header{
    user-select: none;
}
.basic-table .active-header:hover{
    cursor:pointer;
}