.group-eraser{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: inline-block;
}
.group-eraser:hover{
    cursor: pointer;
    background-color: rgb(250, 68, 68);
}
.group-browser{
    margin: 20px;
    width: 20vw;
}
.group-browser th{
    background-color: rgb(202, 202, 202);
}